<div class="row">
  <!--プロフィール欄-->
  <div class="col-md-3">
   <%= render "users/profile" %>
  </div>
  <!---->
  <div class="col-md-8">
     <%= form_with model:@profile do |f| %>
      <h1>プロフィール編集</h1>
          <div class="mt-2 text-center">
            <% if @user.image.attached? %> <!--もしイメージ登録があったら-->
             <%= image_tag @user.image, size: "200x200" %>
            <% else %>
             <i class="fa-solid fa-user fa-5x border p-3 rounded-circle" style="color: gray;"></i><!--デフォルト画像-->
            <% end %>
          </div>
          <div class="text-center mt-3">
            <%= f.file_field :image, accept: "image/*" %><!--イメージ登録-->
          </div>
          <ul class="list-unstyled text-center">
            <li class="mt-3">
              <%= @user.name %>
            </li>
            <li class="mt-3">
            <p>自己紹介</p>
              <%= f.text_area :profile %><br>
              <%= f.submit"登録" %>
            </li>
          </ul>
     <% end %>
　</div>
</div>