 <!--Rank-->
<div class="col-md-8 mt-3 mx-auto">
  <h3 class=" bg-white">
    <span class="crown">
      <i class="fa-solid fa-crown"></i>
    </span>
    小説Rank
  </h3>
  <div class="d-flex bg-white justify-content-around pt-3">
      <% @book_ranks.each.with_index do |rank, i| %>
        <div class="text-center d-flex" style="width: 30%;">
          <div>
            <h3><%= i + 1 %>位</h3>
            <td><%= link_to image_tag(rank.image_url), rank.url %></td>
            <span class="hidden font-weight-bold"><%= rank.title %></span>
            <%= rank.author %><br>
            <br>
            <span class="hidden2 m-3"><%= rank.item_caption %></span>
          </div>
        </div>
      <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <!--小説カテゴリーのみ表示-->
      <!--投稿一覧-->
      <% @books.each do |post| %>
       <%= render "posts/posts", post: post %>
      <% end %>
      <!---->
  </div>
  <div class="mt-5">
    <%= paginate @books, params_name: "book_params", theme: 'bootstrap-5' %>
  </div>
</div>