 <!--Rank-->
  <div class="col-md-5 mt-3 mx-auto">
    <table class="table border bg-white">
      <h3 class=" bg-white">
        <span class="crown">
          <i class="fa-solid fa-crown"></i>
        </span>
        小説Rank
      </h3>
      <thead>
       <tr class="text-center" style="background:#FFBBFF;">
          <th>Rank</th>
          <th>作品名</th>
          <th>記事の本数</th>
        </tr>
      </thead>
      <tbody>
        <% @book_ranks.first(3).each_with_index do |rank, i| %>
          <tr class="text-center">
            <td><%= i + 1 %></td>
            <td><%=rank.first %></td>
            <td><%=rank.second %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <!--小説カテゴリーのみ表示-->
      <!--投稿一覧-->
      <% @books.each do |post| %>
       <%= render "posts/posts", post: post %>
      <% end %>
      <!---->
  </div>
  <div class="mt-5">
    <%= paginate @books, params_name: "book_params", theme: 'bootstrap-5' %>
  </div>
</div>