 <!--Rank-->
  <div class="col-md-5 mx-auto">
    <table class="table border">
      <h3>マンガRank</h3>
      <thead>
        <tr>
          <th>投稿数順</th>
          <th>作品名</th>
          <th>記事の本数</th>
        </tr>
      </thead>
      <tbody>
        <% @comic_ranks.first(3).each_with_index do |rank, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%=rank.first %></td>
            <td><%=rank.second %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <% @posts.each do|post| %>
      <!--コミックカテゴリーのみ表示-->
        <% if post.category_id == 5 %>
          <div class="card-deck col-md-3 mt-5">
            <%= link_to post_path(post.id), class: "text-decoration-none" do %>
              <div class="card shadow-lg">
                <div class="card-body text-dark">
                  <div class="row">
                    <div class="col-5">
                      <%= image_tag post.user.get_icon, class: "img-thumbnail rounded-circle border"; %><br>
                    </div>
      
                    <div class="col-7 ml-6">
                      <i class="fas fa-user"></i> <%= post.user.name %>
                    </div>
                  </div>
                   <p class="text-right"><%= post.category.name %></p>
                   <p class="text-right"><%= post.genre.name %></p>
                   <h2 class="card-title border-bottom">
                     <%= post.post_title %>
                   </h2>
                   <h4 class="card-title border p-1">
                     <%= post.title %>
                   </h4>
                   <p class="card-text">
                     <%= post.post_body %>
                   </p>
                   <div class="d-flex text-right">
                     <span class="mr-5">
                       <!--<%# if post.favorited?(current_user) %>-->
                       <!--   <%#= link_to post_favorite_path(@posts, post.id), method: :delete do %>-->
                           <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
                       <!--   <%# end %>-->
                           <span class="ml-1 text-dark"><%= post.favorites.count %></span>
                       <!--<%# else %>-->
                       <!--   <%#= link_to post_favorites_path(@posts, post.id), method: :post do %>-->
                       <!--     <span><i class="fa-solid fa-heart"></i>︎</span>-->
                       <!--   <%# end %>-->
                       <!--     <span class="ml-1 text-dark"><%= post.favorites.count %></span>-->
                       <!--<%# end %>-->
                     </span>
                    <p class="mr-1">コメント件数：<%= post.comments.count %></p>
                   </div>
                    <p class="card-text text-right"><%= l post.created_at, format: :short %>
 </p> 
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>