 <!--Rank-->
  <div class="col-md-5 mt-3 mx-auto">
    <table class="table border bg-white">
      <h3 class=" bg-white">
        <span class="crown">
          <i class="fa-solid fa-crown"></i>
        </span>
        マンガRank
      </h3>
      <thead>
        <tr class="text-center" style="background:#FFBBFF;">
          <th>Rank</th>
          <th>作品名</th>
          <th>記事の本数</th>
        </tr>
      </thead>
      <tbody>
        <% @comic_ranks.first(3).each_with_index do |rank, i| %>
          <tr class="text-center">
            <td><%= i + 1 %></td>
            <td><%=rank.first %></td>
            <td><%=rank.second %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <% @comics.each do|post| %>
      <!--コミックカテゴリーのみ表示-->
      <!--投稿一覧-->
       <%= render "posts/posts", post: post %>
      <% end %>
      <!---->
  </div>
  <div class="mt-5">
    <%= paginate @comics, params_name: "comic_params", theme: 'bootstrap-5' %>
  </div>
</div>