 <!--Rank-->
<div class="col-md-8 mt-3 mx-auto">
  <h3 class=" bg-white">
    <span class="crown">
      <i class="fa-solid fa-crown"></i>
    </span>
    マンガRank
  </h3>
  <div class="d-flex bg-white justify-content-around pt-3">
      <% @comic_ranks.each.with_index do |rank, i| %>
        <div class="text-center d-flex">
          <div>
            <h3><%= i + 1 %>位</h3>
            <td><%= link_to image_tag(rank.image_url), rank.url %></td>
            <span class="hidden font-weight-bold"><%= rank.title %></span>
            <%= rank.author %><br>
            <br>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <% @comics.each do|post| %>
      <!--コミックカテゴリーのみ表示-->
      <!--投稿一覧-->
       <%= render "posts/posts", post: post %>
      <% end %>
      <!---->
  </div>
  <div class="mt-5">
    <%= paginate @comics, params_name: "comic_params", theme: 'bootstrap-5' %>
  </div>
</div>