<div class="row">
  <div class="col-md-12 d-flex flex-wrap">
      <% @posts.each do|post| %>
        <div class="card-deck col-md-3 mt-5">
          <%= link_to post_path(post.id), class: "text-dark text-decoration-none" do %>
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-5"><!--アイコン-->
                    <%= image_tag post.user.get_icon, class: "img-thumbnail rounded-circle border" %><br>
                  </div>
                  <div class="col-7 ml-6">
                    <i class="fas fa-user"></i> <%= post.user.name %>
                  </div>
                </div>
                 <p class="text-right"><%= post.category.name %></p>
                 <p class="text-right"><%= post.genre.name %></p>
                 <h2 class="card-title border-bottom">
                   <%= post.post_title %>
                 </h2>
                 <h4 class="card-title border p-1">
                   <%= post.title %>
                 </h4>
                 <p class="card-text">
                   <%= post.post_body %>
                 </p>
                 <div class="d-flex text-right">
                     <span class="mr-3">
                       <!--一覧画面でのいいね追加削除期日実装予定-->
                       <!--<%# if post.favorited?(current_user) %>-->
                       <!--   <%#= link_to post_favorite_path(@posts, post.id), method: :delete do %>-->
                           <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
                       <!--   <%# end %>-->
                           <span class="ml-1 text-dark"><%= post.favorites.count %></span>
                       <!--<%# else %>-->
                       <!--   <%#= link_to post_favorites_path(@posts, post.id), method: :post do %>-->
                       <!--     <span><i class="fa-solid fa-heart"></i>︎</span>-->
                       <!--   <%# end %>-->
                       <!--     <span class="ml-1 text-dark"><%= post.favorites.count %></span>-->
                       <!--<%# end %>-->
                    </span>
                    <p class="mr-1">コメント件数：<%= post.comments.count %></p>
                 </div>
                  <p class="card-text text-right">
                    <%= l post.created_at, format: :short %>
                  </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>