<!--Rank-->
<div class="col-md-12">
  <div class = "row mt-3">
    <div class="col-md-5 mx-auto">
      <table class="table border bg-white">
        <h2 class=" bg-white">
          <span class="crown">
            <i class="fa-solid fa-crown"></i>
          </span>
          投稿数Rank
        </h2>
        <thead>
          <tr class="text-center" style="background:#FFBBFF;">
            <th>Rank</th>
            <th>作品名</th>
            <th>記事の本数</th>
          </tr>
        </thead>
        <tbody>
          <% @ranks.first(3).each_with_index do |rank, i| %>
            <tr class="text-center">
              <td><strong><%= i + 1 %></strong></td>
              <td><%=rank.first %></td>
              <td><%=rank.second %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--<div class="col-md-5 mx-auto">-->
    <!--    <table class="table border bg-white">-->
    <!--    <h2 class=" bg-white">-->
    <!--      <span style="color:yellow;text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 0px 1px 0, #000 0 -1px 0, #000 -1px 0 0, #000 1px 0 0;">-->
    <!--        <i class="fa-solid fa-crown"></i>-->
    <!--      </span>-->
    <!--      おすすめRank-->
    <!--    </h2>-->
    <!--    <thead>-->
    <!--      <tr class="text-center" style="background:#FFBBFF;">-->
    <!--        <th>Rank</th>-->
    <!--        <th>作品名</th>-->
    <!--        <th>☆の数</th>-->
    <!--      </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--      <%# @star_ranks.first(3).each_with_index do |rank, i| %>-->
    <!--        <tr class="text-center">-->
    <!--          <td><strong><%#= i + 1 %></strong></td>-->
    <!--          <td><%#=book.rank.first %></td>-->
    <!--          <td><%#=rank.second %></td>-->
    <!--        </tr>-->
    <!--      <%# end %>-->
    <!--    </tbody>-->
    <!--  </table>-->
    <!--</div>-->
  </div>
</div>
<!--カテゴリー別Rank-->
<div class="col-md-12">
  <div class = "row mt-3">

    <div class="col-md-5 mx-auto">
      <table class="table border bg-white">
        <h3 class=" bg-white">
          <span class="crown">
            <i class="fa-solid fa-crown"></i>
          </span>
          小説Rank
        </h3>
        <thead>
          <tr class="text-center" style="background:#FFBBFF;">
            <th>Rank</th>
            <th>作品名</th>
            <th>記事の本数</th>
          </tr>
        </thead>
        <tbody>
          <% @book_ranks.first(3).each_with_index do |rank, i| %>
            <tr class="text-center">
              <td><%= i + 1 %></td>
              <td><%=rank.first %></td>
              <td><%=rank.second %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-5 mx-auto">
      <table class="table border bg-white">
        <h3 class=" bg-white">
          <span class="crown">
            <i class="fa-solid fa-crown"></i>
          </span>
          マンガRank
        </h3>
        <thead>
          <tr class="text-center" style="background:#FFBBFF;">
            <th>Rank</th>
            <th>作品名</th>
            <th>記事の本数</th>
          </tr>
        </thead>
        <tbody>
          <% @comic_ranks.first(3).each_with_index do |rank, i| %>
            <tr class="text-center">
              <td><%= i + 1 %></td>
              <td><%=rank.first %></td>
              <td><%=rank.second %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---->
投稿一覧
<!--投稿一覧-->
 <%= render "posts/post", posts: @posts %>
 <!---->
