<div class="row">
  <div class="col-md-8 mx-auto">
    <h1>投稿編集</h1>
      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
          <div class="form_input">
            <%= f.label :category, "カテゴリー (必須）", class: "h4 m-2" %><br>
            <%= f.collection_radio_buttons :category, Post.categories_i18n, :first, :last %>
          </div>
          <div class="form_input">
            <%= f.label :genre, "ジャンル" %><br>
             <%= f.collection_radio_buttons :genre, Post.genres_i18n, :first, :last %>
          </div>
          <div class="form-input" id="star">
            <%= f.label :rate, "作品のおすすめ度", class: "h4 m-2" %>
            <%= f.hidden_field :rate, id: :post_star, class: "form-control" %>
          </div>
          <div class="form_input">
            <%= f.label :post_title, "タイトル  (30字以内)" %>
            <%= f.text_field :post_title, class: "form-control" %>
          </div>
          <div class="form_input">
            <%= f.label :post_body, "感想 (400字以内)" %>
            <%= f.text_field :post_body, class: "form-control" %>
          </div>
          
          <div class="form_action row mt-3">
              <%= f.submit "編集する", class: "btn btn-primary"%>
          </div>
      <% end %>
  </div>
</div>


<script>
   $('#star').raty({
     size: 36,
     starOff:  '<%= asset_path('star-off.png') %>',
     starOn : '<%= asset_path('star-on.png') %>',
     starHalf : '<%= asset_path('star-half.png') %>',
     scoreName: 'post[rate]',
     half: true,
   });
</script>