<div class="d-flex">

<!--ジャンルによる検索リンク-->
  <div class="col-md-2 p-0">
    <%= render "posts/genre", genres: @genres %>
  </div>
<!---->
<!--ジャンルが空だったら-->
<% if @genre.nil? %>
  <div class="col-md-9 bg-light">
    <h3 class="m-2 font-weight-bold">All</h3>
    <!--検索結果投稿一覧-->
    <div class= "d-flex flex-wrap">
     <%= render "posts/post", posts: @search_posts %>
    </div>
    <!---->
  </div>
<!---->
<% else %>
  <div class="col-md-9 bg-light">
    <h3 class="m-2 font-weight-bold"><%= @genre[1] %></h3>
    <!--検索結果投稿一覧-->
    <div class= "d-flex flex-wrap">
     <%= render "posts/post", posts: @search_posts %>
    </div>
    <!---->
  </div>
  <div class="mt-5">
    <%= paginate @search_posts, params_name: "post_params", theme: 'bootstrap-5' %>
  </div>
<% end %>

</div>