<div class="row">
  <h1>新規投稿</h1>
  <div class="col-md-8 mx-auto">
<!--選択した本を表示-->
    <div class="card-body text-dark">
      <%= image_tag(@book.image_url) %><br>
      <h4 class="card-text mt-2 mb-4" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
        <%= @book.title %>
      </h4>
      <%= @book.author %>
      <p class="card-text" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
        <%= @book.item_caption %>
      </p>
    </div>
<!--投稿内容入力部分-->
      <%= form_with model: @post do |f| %>
          <div class="form-input">
            <%= f.label :title, "作品名", class: "h4 m-2" %>
            <%= f.text_field :title, class: "form-control mb-3", :placeholder => "作品名を入力してね（ランキングや検索に使用されるよ)" %>
          </div>
          <div class="form_input">
            <%= f.label :category_id, "カテゴリー (必須）", class: "h4 m-2" %><br>
            <%= f.collection_radio_buttons :category_id, Category.all, :id, :name, class: "mb-3" %>
          </div>
          <div class="form_input">
            <%= f.label :genre_id, "ジャンル (必須)", class: "h4 m-2" %><br>
            <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name, class: "mb-3" %>
          </div>
          <div class="form-input" id="star">
            <%= f.label :rate, "作品のおすすめ度", class: "h4 m-2" %>
            <%= f.hidden_field :rate, id: :post_star, class: "form-control" %>
          </div>
          <div class="form_input">
            <%= f.label :post_title, "タイトル (30字以内*必須)", class: "h4 m-2" %>
            <%= f.text_field :post_title, class: "form-control mb-3" %>
          </div>
          <div class="form_input">
            <%= f.label :post_body, "感想  (400字以内)", class: "h4 m-2" %>
            <%= f.text_area :post_body, class: "form-control" %>
          </div>

          <div class="form_action mt-4 text-center">
              <%= f.submit "投稿する", class: "btn btn-primary w-50"%>
          </div>
          <%= f.hidden_field :book_id, :value => @book.id %>
      <% end %>
  </div>
</div>

<script>
   $('#star').raty({
     size: 36,
     starOff:  '<%= asset_path('star-off.png') %>',
     starOn : '<%= asset_path('star-on.png') %>',
     starHalf : '<%= asset_path('star-half.png') %>',
     scoreName: 'post[rate]',
     half: true,
   });
</script>