<div class ="row">

  <div class="card shadow-lg col-md-6 mx-auto h-100">
    <div class="card-body text-dark">
      <div class="row">
        <div class="d-flex">

        <div class="col-3">
          <%= image_tag @post.user.get_icon, class: "img-thumbnail rounded-circle border" %><br>
        </div>

        <div class="ml-6 align-items:flex-end">
          <%= link_to user_path(@post.user_id), class: "btn", method: :get do %>
            <%= @post.user.name %>
          <% end %>
        </div>

        </div>
      </div>
       <p class="text-right"><%= @post.category.name %></p>
       <p class="text-right"><%= @post.genre.name %></p>
       <h2 class="card-title border-bottom">
         <%= @post.post_title %>
       </h2>
       <h4 class="card-title border p-1">
         <%= @post.title %>
       </h4>
       <p class="card-text">
         <%= @post.post_body %>
       </p>
       <% if @post.user == current_user %>
         <div class="text-right">
           <%= link_to"編集", edit_post_path(@post), class: "btn btn-primary" %>
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
         </div>
       <% elsif admin_signed_in? %>
         <div class="text-right">
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete %>
         </div>
       <% end %>
       <div class="d-flex">
         <span class="mr-3">
           <% if admin_signed_in? %>
              <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
              <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
            <% else %>
             <% if @post.favorited?(current_user) %>
                <%= link_to post_favorite_path(@post.id), method: :delete do %>
                 <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
                <% end %>
                 <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
             <% else %>
                <%= link_to post_favorites_path(@post.id), method: :post do %>
                  <span><i class="fa-solid fa-heart"></i>︎</span>
                <% end %>
                  <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
             <% end %>
           <% end %>
        </span>
        <p class="mr-5">コメント件数：<%= @post.comments.count %></p>
        <p class="card-text"><%= l @post.created_at %></p>
       </div>
        <!--<%# if @post.user != current_user %>-->
        <!--  <%#= link_to "ユーザーを通報", new_user_report_path(@post.user), class: "btn btn-danger" %>-->
        <!--<%# end %>-->
    </div>
  </div>

    <!--コメント部分-->

  <div class="col-md-5">
    <div class="m-5">
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment_body, cols: "50", rows: "5", placeholder: "コメントをどうぞ！" %>
        <div class="text-right"><%= f.submit "送信する", class: "btn btn-secondary" %></div>
      <% end %>
    </div>
      <% @post.comments.each do |comment| %>
        <div class="border border-2 mb-3 p-3">
          <div class="d-flex">
            <p class="col-2"><%= image_tag comment.user.get_icon, class: "img-thumbnail rounded-circle border" %></p>
            <%= link_to user_path(comment.user), class: "text-dark", method: :get do %>
              <%= comment.user.name %>
            <% end %>
          </div>
          <%= comment.comment_body %><br>
          <p class="text-right m-0"><%= l comment.created_at, format: :short %></p>
           <% if comment.user == current_user %>
             <div class="text-right">
               <%#= link_to"編集", edit_comment_path(@post, comment), class: "btn btn-primary" %>
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"}%>
             </div>
           <% elsif admin_signed_in? %>
             <div class="text-right">
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
             </div>
           <% end %>
            <!--<%# if @user != current_user %>-->
            <!--  <%#= link_to "ユーザーを通報", new_user_report_path(@user), class: "btn btn-danger" %>-->
            <!--<%# end %>-->
        </div>
      <% end %>
  </div>

</div>