<div class ="row">

  <div class="card shadow-lg col-md-6 mx-auto h-100">
    <div class="card-body text-dark">
          <!--アカウント名とアイコン-->
      <div class="row">
        <div class="d-flex">
            <div class="col-2">
              <%= image_tag @post.user.get_icon, class: "img-thumbnail rounded-circle border" %><br>
            </div>

            <div class="ml-6 align-items:flex-end">
              <%= link_to user_path(@post.user_id), class: "btn", method: :get do %>
                <h3><%= @post.user.name %></h3>
              <% end %>
            </div>
        </div>
      </div>
        <!---->
        <!--投稿作品-->
        <div class="d-flex justify-content-around mt-4 mb-4">
          <div class="img-thumbnail"><%= image_tag(@post.book.image_url) %></div>
          <div class="text-right">
           <p class="border-bottom h4"><%= @post.category.name %></p>
           <p class="border-bottom h5"><%= @post.genre.name %></p>
          </div>
        </div>
       <h4 class="card-title border p-1">
         <%= @post.book.title %>
       </h4>
       <h4 class="card-title border p-1">
         <%= @post.title %>
       </h4>
       <!---->
       <h2 class="card-title border-bottom">
         <%= @post.post_title %>
       </h2>
       <p class="card-text">
         <%= @post.post_body %>
       </p>
       <% if @post.user == current_user %>
         <div class="text-right">
           <%= link_to"編集", edit_post_path(@post), class: "btn btn-primary" %>
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
         </div>
       <% elsif admin_signed_in? %>
         <div class="text-right">
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete %>
         </div>
       <% end %>
       <div class="d-flex">
         <span class="mr-3">
           <% if admin_signed_in? %>
              <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
              <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
           <% elsif user_signed_in? %>
             <% if @post.favorited?(current_user) %>
                <%= link_to post_favorite_path(@post.id), method: :delete do %>
                 <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
                <% end %>
                 <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
             <% else %>
                <%= link_to post_favorites_path(@post.id), method: :post do %>
                  <span><i class="fa-solid fa-heart"></i>︎</span>
                <% end %>
                  <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
             <% end %>
           <% else %>
               <%= link_to new_user_registration_path, method: :get do %>
                 <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
               <% end %>
               <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
           <% end %>
        </span>
        <p class="mr-5">コメント件数：<%= @post.comments.count %></p>
        <p class="card-text"><%= l @post.created_at %></p>
       </div>
    </div>
  </div>

    <!--コメント部分-->

  <div class="col-md-5">
    <div class="m-5">
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment_body, cols: "50", rows: "5", placeholder: "コメントをどうぞ！" %>
        <div class="text-right"><%= f.submit "送信する", class: "btn btn-secondary" %></div>
      <% end %>
    </div>
      <% @post.comments.each do |comment| %>
        <div class="border border-2 mb-3 p-3">
          <div class="d-flex">
            <p class="col-2"><%= image_tag comment.user.get_icon, class: "img-thumbnail rounded-circle border" %></p>
            <%= link_to user_path(comment.user), class: "text-dark", method: :get do %>
              <%= comment.user.name %>
            <% end %>
          </div>
          <%= comment.comment_body %><br>
          <p class="text-right m-0"><%= l comment.created_at, format: :short %></p>
           <% if comment.user == current_user %>
             <div class="text-right">
               <%#= link_to"編集", edit_comment_path(@post, comment), class: "btn btn-primary" %>
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"}%>
             </div>
           <% elsif admin_signed_in? %>
             <div class="text-right">
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
             </div>
           <% end %>
        </div>
      <% end %>
  </div>

</div>