<div class ="row">

  <div class="card shadow-lg col-md-6 mx-auto">
    <div class="card-body text-dark">
      <div class="row">
        <div class="d-flex">

        <div>
          <%= image_tag @post.user.get_icon, class: "img-thumbnail rounded-circle border" %><br>
        </div>

        <div class="ml-6 align-items:flex-end">
          <%= @post.user.name %>
        </div>

        </div>
      </div>
       <p class="text-right"><%= @post.category.name %></p>
       <p class="text-right"><%= @post.genre.name %></p>
       <h2 class="card-title border-bottom">
         <%= @post.post_title %>
       </h2>
       <h4 class="card-title border p-1">
         <%= @post.title %>
       </h4>
       <p class="card-text">
         <%= @post.post_body %>
       </p>
       <% if @post.user == current_user %>
         <div class="text-right">
           <%= link_to"編集", edit_post_path(@post), class: "btn btn-primary" %>
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete %>
         </div>
       <% elsif admin_signed_in? %>
         <div class="text-right">
           <%= link_to"削除", post_path(@post), class: "btn btn-danger", method: :delete %>
         </div>
       <% end %>
       <div class="d-flex">
         <span class="mr-3">
           <% if @post.favorited?(current_user) %>
              <%= link_to post_favorite_path(@post.id), method: :delete do %>
               <span style="color:red;"><i class="fa-solid fa-heart"></i>︎</span>
              <% end %>
               <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
           <% else %>
              <%= link_to post_favorites_path(@post.id), method: :post do %>
                <span><i class="fa-solid fa-heart"></i>︎</span>
              <% end %>
                <span class="ml-1 text-dark"><%= @post.favorites.count %></span>
           <% end %>
        </span>
        <p class="mr-5">コメント件数：<%= @post.comments.count %></p>
        <p class="card-text"><%= l @post.created_at %></p>
       </div>
        <span><%#= link_to "#{@post.post_comments.count} コメント", post_image_path(@post.id), class: "text-dark" %></span>
    </div>
  </div>

    <!--コメント部分-->

  <div class="col-md-6">
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment_body, rows: "5", placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
      <% @post.comments.each do |comment| %>
        <div class="border mb-3 p-3">
          <p><%= image_tag comment.user.get_icon, class: "img-thumbnail rounded-circle border" %></p>
          <%= comment.comment_body %>
          <%= comment.user.name %><br>
          <%= l comment.created_at, format: :short %>
           <% if @post.user == current_user %>
             <div class="text-right">
               <%#= link_to"編集", edit_comment_path(@post, comment), class: "btn btn-primary" %>
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete %>
             </div>
           <% elsif admin_signed_in? %>
             <div class="text-right">
               <%= link_to"削除", post_comment_path(@post, comment), class: "btn btn-danger", method: :delete %>
             </div>
           <% end %>

        </div>
      <% end %>
  </div>

</div>