<div class="row">
  <div class="col-md-8 mx-auto">
    <h2>ジャンルの追加</h2>
     <%= form_with model: [:admins, @gunre] do |f| %>
        <div class="from_input">
          <%= f.label :ジャンル名 %><br>
          <%= f.text_field :name %>
        </div>
        <div class="form_action"><br>
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
     <% end %>
     <br>
     <% @gunres.each do |gunre| %>
      <%= gunre.name %>
      <%= link_to "削除", "/admins/gunres/#{gunre.id}", method: :delete, "data-confirm" => "本当に削除しますか？"  %>
     <% end %>

  </div>
</div>